body {
  background-color: gainsboro;
}

#text_box_container {
  display: flex;
  width: 100vw;
  justify-content: center;
  height: 200px;
  border: 9px solid green;
  margin: auto;
  align-items: center;
}

#text_box_para {
  border-width: 4px;
  /* border-style: solid; */
}

/* #myBtn {
  /* background-color: darkblue; */

#nav_bar_container {
  display: flex;
  height: 80px;
  border: 4px solid red;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
}

/* html nav bar */
.mynav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

/* #pic_container {
  display: flex;
  height: auto;

  width: 100vw;
  border-width: 6px;
  border-style: solid;
  border-color: blue;
  /* justify-content: space-evenly; */
  /* gap: 4px;
  justify-content: center;
  align-items: center;
} */ */

.pic_box {
  height: 250px;
  width: 150px;
  border-width: 4px;
  /* border-style: solid; */
  /* border-color: red; */
}

.image {
  height: 150px;
  width: 150px;
}

#api_output_container {
  display: flex;
  height: auto;
  height: 600px;

  width: 100vw;
  border-width: 6px;
  border-style: solid;
  border-color: grey;

  gap: 4px;
  justify-content: center;
  align-items: center;
}

.clock {
  border: 4px solid black;
  border-radius: 30px;
  height: 80%;
  width: 40%;
  background: url(
  'https://images.unsplash.com/photo-1663011109441-6948af4a0b80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60'
  ) no-repeat center center/cover;
  box-shadow: 5px 7px #888888;
}

.clockText { 
  font: ariel;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 150px;
  font-size: 2.5rem;
  font-weight:800;
  color: whitesmoke;
  text-shadow: 2px 2px 5px black;
}